/*-----------Header-----------*/
body {
	background-color: #ffffff;
	font-family: 'Raleway', sans-serif;
}

.margem {
	margin-bottom: 0;
}

.logo {
	width: 75%;
}


/*-----------Conteúdo-----------*/
.box {
	padding: 10% 5%;
	background-color: #f9f9f9;
	border-radius: 0px;
	border-color: transparent;

}

.box-2 {
	padding: 10% 8% 10% 8%;
}

.box-3 {
	padding-top: 8%;
}

.box-4 {
	padding: 4% 8% 10% 8%;
}

h2 {
	font-family: 'Playfair Display', serif;
}

p {
	font-size: 14px;
	line-height: 1.8;
}

.btn-dark {
 	border-radius: 0px;
 	font-size: 14px;
}

.btn-white {
	color: #000000;
	background-color: transparent;
	border-color: #343a40;
 	border-radius: 0px;
 	font-size: 14px;

}

.btn-white:hover {
	color: #ffffff;
	background-color: #262626;
	border-color: #1d2124;
}
.card {
	border-radius: 0px;
}

.card-img-top {
	border-radius: 0px;
}

.lilinha {
	display: inline;
	padding-right: 20px;
	color: #737373;
}

.destaque .card {
	margin-bottom: 5%;
}

hr {
	margin: 0 5% 0 5%
}

.cartao {
	width: 90%;
}

/*-----------Footer-----------*/
footer {
	background-color: #333333;
	color: #ffffff;
	padding: 10% 0 10% 0%;
	font-size: 12px;

}

footer ul {
	font-size: 12px;
}

footer h6 {
	font-size: 12px;
}

.logoalt {
	width: 50%;

}

.info{
	padding: 5% 10%;
}

ul i {
	margin-right: 2%;
}

.redes i {
	margin: 0 3% 3% 3%;
	font-size: 36px;
}

.redes a {
	color: #ffffff;
}
